.logout-button{
        border: 1px solid rgb(71, 71, 71);
        border-radius:30px;
        color: #fff;
        font-size: 25px;
        padding: 8px;
        min-width: 140px;
        cursor: pointer;
        background-image: linear-gradient(#f50157, red);
        box-shadow: 2px 6px rgb(71, 71, 71);
}

  .logout-button:active {
    box-shadow: 1px 3px rgb(22, 22, 22);
    transform: translateY(3px);
  } 