.card-image{
height: 400px;
background-position: center;
background-size:cover;
box-shadow:inset 0 0 0 2000px rgba(0, 17, 255, 0.733);
cursor: pointer;
}

.column{
padding: 50px;
align-items: center;
}

.component-default-front{
    height: 400px;
    width: 400px;
    background-position: center;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(65, 63, 69, 0.733);
    cursor: pointer;
}

.title{
    text-align: center;
    margin-left: 20px;
}