.container{
    justify-content: space-evenly;
    margin-top: 100px;
}

.list{
    text-align: left;
    width: 40%;
    position:relative;
    margin-left: 30%;
}

.title{
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 30px;
}