.container{
    justify-content: space-evenly;
    margin-top: auto;
}
.edit-name{
    justify-content: center;
    /* display: inline-block; */
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: auto;
}

.build-name{
    justify-content: center;
    position: relative;
    /* display: inline-block; */
    margin-left: 20%;
    margin-bottom: 5%;
}

.horizontal-center {
    margin: 0;
    position: relative;
    transform: translateX(30%);
  }

  .title{
      font-size: 60px;
    
  }

  .build-edit{
    margin-left: 32%;
    font-size: inherit;
  }

  .build-display{
    margin-left: 32%;
  }