.container{
    justify-content: space-between;
    margin-top: auto;
}
.edit-name{
    justify-content: center;
    /* display: inline-block; */
    white-space: nowrap;
    overflow: hidden;
}

.build-name{
    justify-content: center;
    /* display: inline-block; */
}

.horizontal-center {
    margin: 0;
    position: relative;
    transform: translateX(5000%);
  }

  .title{
      font-size: 60px;
  }