.nav-bar {
  /* overflow: hidden; */
  /* background-image: url("/images/970-Evo-Plus-1000.jpg"); */
background-color: rgb(255, 136, 0);
align-items: center;
/* background-image: linear-gradient(to right, rgb(255, 136, 0), #b94d18); */
background-image: linear-gradient(to right, yellow , red);
width: 100%; /* Full width */
height: 105px;
}

.nav-links{
  text-emphasis-color: white}

.nav-link {
  float: left;
  color: #3f51b5;
  text-align: center;
  padding: 24px 10px;
  text-decoration: underline;
  font-size: 25px;
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color:rgb(36, 36, 36);
  border-radius:30px;

}

.nav-brand{
  margin-bottom: -.2%;
}

.apple-logo{
  margin-top: -.2%;
}

.black-text{
  font-size: 60px;
  font-family: 'SEGA';
  text-align: center;
}

