.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #ffffff;
    padding-left: 10px;
}

.nav {
  /* overflow: hidden; */
  /* background-image: url("/images/970-Evo-Plus-1000.jpg"); */
background-color: black;
}
.nav-bar {
  /* overflow: hidden; */
  /* background-image: url("/images/970-Evo-Plus-1000.jpg"); */
background-color: rgb(255, 136, 0);
}

.nav-link {
  float: left;
  color: white;
  /* background-color: #00acb0; */
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 25px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color:black;
  border-radius:30px;

}


.black-text{
  font-size: 40px;
}